*,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-truncate {
    white-space: normal;
}

.text-main {
    color: #302f2f;
}

.breadcrumb-item {
    font-weight: 500;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #FDAB3A;
}

.breadcrumb-item.active {
    font-weight: 500;
    font-size: 14px;
    color: #302F2F;
}

hr {
    background-color: #E2E2E2;
}