*,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-truncate {
    white-space: normal;
}

.text-main {
    color: #302f2f;
}